GROCY_URL=https:/your-grocy-urlk
GROCY_API_KEY=your-grocy-api
NTFY_URL=https://your-ntfy-url
NTFY_INPUT_TOPIC=grocy-input
NTFY_RESPONSE_TOPIC=grocy-response
NTFY_USER=yooour-ntfy-user
NTFY_PASSWORD=your-ntfy-pasword